<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/global.css'%}" type="text/css">
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<div style="margin: 0 auto;width: 500px">
    {% if request.user.is_authenticated %}
    <h2><a href="{% url 'posts:post_list' %}"> RECIPES </a></h2>
    <h2><a href="{% url 'posts:post_create' %}"> SHARE </a></h2>
    <h2><a href="{% url 'users:logout' %}"> LOGOUT </a></h2>
    {% else %}
    <h2><a href="{% url 'posts:post_list' %}"> RECIPES </a></h2>
    <h2><a href="{% url 'users:register' %}"> REGISTER </a></h2>
    <h2><a href="{% url 'users:login' %}"> LOGIN </a></h2>
    {% endif %}
</div>
<hr>
<div style="margin: 0 auto;width: 500px">
    <h3>Top Used Ingredients</h3>
    {% for ingredient in ingredients %}
    <p> <a href="?ingredient={{ ingredient.pk }}"> {{ ingredient.name }} ( {{ingredient.num_posts}} ) </a> </p>
    {% endfor %}
</div>
<hr>


{% for post in post_list %}
<h2>{{ post.title }}</h2>
<img src="{{ post.image.url }}">
<p>{{ post.date_created }} </p>
{% if post.avg_rating is None %}
<p>No votes - {{ post.like_set.all.count }} likes - by {{ post.owner.first_name }} {{ post.owner.last_name }}</p>
{% else %}
<p>{{ post.avg_rating }}/5 ( {{ post.rate_set.all.count }} Votes ) - {{ post.like_set.all.count }} likes - by {{ post.owner.first_name }} {{ post.owner.last_name }}</p>
{% endif %}
<a href="{% url 'posts:detail' post.pk %}"> DETAILS </a>
    <hr>
{% endfor %}
</body>
</html>